<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">
    <img src="http://toonups.com/Images/happy_sun.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Weather Handlebar
  </a>
    <form class="form-inline" action="/" method="GET">
    <input class="form-control mr-sm-2" type="search" name="city" placeholder="Enter a city name" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Get Forecast">Search</button>
  </form>
</nav>

<h1>{{title}}</h1>
<p>Welcome Smith to {{title}}.
</p>

{{!-- 
  <form action="/" method="GET">
    <input name="city" placeholder="Enter a city name" required>
    <input type="submit" value="Get Forecast">
  </form> --}}



  {{#if forecast}}
  <ul>
<li>Temperature: {{round forecast.temp}}</li>
<li>Description: {{upper forecast.weather.0.description}}</li>
  </ul>
  {{/if}}